liability-services/liability-services-core/src/main/resources/wsdl/WorkflowService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2135="http://response.workflow.webservice.liss.co.uk/xsd" xmlns:ax2136="http://domain.workflow.webservice.liss.co.uk/xsd" xmlns:ax2137="http://ws.apache.org/namespaces/axis2/enum" xmlns:ax2129="http://request.workflow.webservice.liss.co.uk/xsd" xmlns:ns="http://service.workflow.webservice.liss.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2141="http://domain.workflowitem.webservice.liss.co.uk/xsd" xmlns:ax2130="http://request.core.webservice.liss.co.uk/xsd" xmlns:ax2131="http://domain.core.webservice.liss.co.uk/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2143="http://response.core.webservice.liss.co.uk/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service.workflow.webservice.liss.co.uk">
    <wsdl:documentation>Workflow webservices.</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.workflow.webservice.liss.co.uk/xsd">
            <xs:complexType name="WorkflowItemAction">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="ax2137:action_status"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2145="http://response.core.webservice.liss.co.uk/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.workflow.webservice.liss.co.uk/xsd">
            <xs:import namespace="http://response.core.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://response.core.webservice.liss.co.uk/xsd"/>
            <xs:complexType name="GetWorkflowActionSummaryResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="workflowItemActions" nillable="true" type="ax2136:WorkflowItemAction"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateWorkflowItemResponse">
                <xs:complexContent>
                    <xs:extension base="ax2143:AbstractResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="workflowItemId" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CheckWorkflowItemStatusResponse">
                <xs:complexContent>
                    <xs:extension base="ax2143:AbstractResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="workflowItemStatus" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2133="http://request.core.webservice.liss.co.uk/xsd" xmlns:ax2142="http://domain.workflowitem.webservice.liss.co.uk/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.workflow.webservice.liss.co.uk/xsd">
            <xs:import namespace="http://request.core.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://request.core.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://domain.workflowitem.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://domain.workflowitem.webservice.liss.co.uk/xsd"/>
            <xs:complexType name="GetWorkflowActionSummaryRequest">
                <xs:complexContent>
                    <xs:extension base="ax2130:AbstractRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="workflowItemId" nillable="true" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CreateWorkflowItemRequest">
                <xs:complexContent>
                    <xs:extension base="ax2130:AbstractRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="workflowItemMetadata" nillable="true" type="ax2141:WorkflowItemMetadata"/>
                            <xs:element minOccurs="0" name="workflowItemReference" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="workflowItemStatus" nillable="true" type="xs:int"/>
                            <xs:element minOccurs="0" name="workflowItemType" nillable="true" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CheckWorkflowItemStatusRequest">
                <xs:complexContent>
                    <xs:extension base="ax2130:AbstractRequest">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="workflowItemId" nillable="true" type="xs:int"/>
                            <xs:element minOccurs="0" name="workflowItemType" nillable="true" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/enum">
            <xs:simpleType name="action_status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CURRENT"/>
                    <xs:enumeration value="PREVIOUS"/>
                    <xs:enumeration value="NEXT"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.workflowitem.webservice.liss.co.uk/xsd">
            <xs:complexType name="WorkflowItemMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="index" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowMetadataKeyId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2132="http://domain.core.webservice.liss.co.uk/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.core.webservice.liss.co.uk/xsd">
            <xs:import namespace="http://domain.core.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://domain.core.webservice.liss.co.uk/xsd"/>
            <xs:complexType abstract="true" name="AbstractRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="auditData" nillable="true" type="ax2131:AuditData"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.core.webservice.liss.co.uk/xsd">
            <xs:complexType abstract="true" name="AbstractResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="validationErrors" nillable="true" type="ax2131:ValidationError"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2134="http://request.workflow.webservice.liss.co.uk/xsd" xmlns:ax2138="http://ws.apache.org/namespaces/axis2/enum" xmlns:ax2139="http://domain.workflow.webservice.liss.co.uk/xsd" xmlns:ax2140="http://response.workflow.webservice.liss.co.uk/xsd" xmlns:ax2144="http://domain.core.webservice.liss.co.uk/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.workflow.webservice.liss.co.uk">
            <xs:import namespace="http://request.workflow.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://ws.apache.org/namespaces/axis2/enum"/>
            <xs:import namespace="http://domain.workflow.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://response.workflow.webservice.liss.co.uk/xsd"/>
            <xs:import namespace="http://domain.core.webservice.liss.co.uk/xsd"/>
            <xs:element name="WorkflowServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getWorkflowActionSummary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getWorkflowActionSummaryRequest" nillable="true" type="ax2129:GetWorkflowActionSummaryRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowActionSummaryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2135:GetWorkflowActionSummaryResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createWorkflowItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="createWorkflowItemRequest" nillable="true" type="ax2129:CreateWorkflowItemRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createWorkflowItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2135:CreateWorkflowItemResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkWorkflowItemStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="checkWorkflowItemStatusRequest" nillable="true" type="ax2129:CheckWorkflowItemStatusRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkWorkflowItemStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2135:CheckWorkflowItemStatusResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.core.webservice.liss.co.uk/xsd">
            <xs:complexType name="AuditData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ghostUserId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pageCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidationError">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkWorkflowItemStatusRequest">
        <wsdl:part name="parameters" element="ns:checkWorkflowItemStatus"/>
    </wsdl:message>
    <wsdl:message name="checkWorkflowItemStatusResponse">
        <wsdl:part name="parameters" element="ns:checkWorkflowItemStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="WorkflowServiceException">
        <wsdl:part name="parameters" element="ns:WorkflowServiceException"/>
    </wsdl:message>
    <wsdl:message name="createWorkflowItemRequest">
        <wsdl:part name="parameters" element="ns:createWorkflowItem"/>
    </wsdl:message>
    <wsdl:message name="createWorkflowItemResponse">
        <wsdl:part name="parameters" element="ns:createWorkflowItemResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowActionSummaryRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowActionSummary"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowActionSummaryResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowActionSummaryResponse"/>
    </wsdl:message>
    <wsdl:portType name="WorkflowServicePortType">
        <wsdl:operation name="checkWorkflowItemStatus">
            <wsdl:input message="ns:checkWorkflowItemStatusRequest" wsaw:Action="urn:checkWorkflowItemStatus"/>
            <wsdl:output message="ns:checkWorkflowItemStatusResponse" wsaw:Action="urn:checkWorkflowItemStatusResponse"/>
            <wsdl:fault message="ns:WorkflowServiceException" name="WorkflowServiceException" wsaw:Action="urn:checkWorkflowItemStatusWorkflowServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createWorkflowItem">
            <wsdl:input message="ns:createWorkflowItemRequest" wsaw:Action="urn:createWorkflowItem"/>
            <wsdl:output message="ns:createWorkflowItemResponse" wsaw:Action="urn:createWorkflowItemResponse"/>
            <wsdl:fault message="ns:WorkflowServiceException" name="WorkflowServiceException" wsaw:Action="urn:createWorkflowItemWorkflowServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowActionSummary">
            <wsdl:input message="ns:getWorkflowActionSummaryRequest" wsaw:Action="urn:getWorkflowActionSummary"/>
            <wsdl:output message="ns:getWorkflowActionSummaryResponse" wsaw:Action="urn:getWorkflowActionSummaryResponse"/>
            <wsdl:fault message="ns:WorkflowServiceException" name="WorkflowServiceException" wsaw:Action="urn:getWorkflowActionSummaryWorkflowServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowServiceSoap11Binding" type="ns:WorkflowServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkWorkflowItemStatus">
            <soap:operation soapAction="urn:checkWorkflowItemStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createWorkflowItem">
            <soap:operation soapAction="urn:createWorkflowItem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowActionSummary">
            <soap:operation soapAction="urn:getWorkflowActionSummary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowServiceSoap12Binding" type="ns:WorkflowServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkWorkflowItemStatus">
            <soap12:operation soapAction="urn:checkWorkflowItemStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap12:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createWorkflowItem">
            <soap12:operation soapAction="urn:createWorkflowItem" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap12:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowActionSummary">
            <soap12:operation soapAction="urn:getWorkflowActionSummary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException">
                <soap12:fault use="literal" name="WorkflowServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowServiceHttpBinding" type="ns:WorkflowServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="checkWorkflowItemStatus">
            <http:operation location="checkWorkflowItemStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createWorkflowItem">
            <http:operation location="createWorkflowItem"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowActionSummary">
            <http:operation location="getWorkflowActionSummary"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowServiceException"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowService">
        <wsdl:port name="WorkflowServiceHttpsSoap11Endpoint" binding="ns:WorkflowServiceSoap11Binding">
            <soap:address location=""/>
        </wsdl:port>
        <wsdl:port name="WorkflowServiceHttpSoap11Endpoint" binding="ns:WorkflowServiceSoap11Binding">
            <soap:address location="http://sv-lvd46.rh.olympe.loc/ulissia-webservices/services/WorkflowService.WorkflowServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowServiceHttpsSoap12Endpoint" binding="ns:WorkflowServiceSoap12Binding">
            <soap12:address location=""/>
        </wsdl:port>
        <wsdl:port name="WorkflowServiceHttpSoap12Endpoint" binding="ns:WorkflowServiceSoap12Binding">
            <soap12:address location="http://sv-lvd46.rh.olympe.loc/ulissia-webservices/services/WorkflowService.WorkflowServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowServiceHttpEndpoint" binding="ns:WorkflowServiceHttpBinding">
            <http:address location="http://sv-lvd46.rh.olympe.loc/ulissia-webservices/services/WorkflowService.WorkflowServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowServiceHttpsEndpoint" binding="ns:WorkflowServiceHttpBinding">
            <http:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
