liability-services/liability-services-core/src/main/resources/wsdl/WSSINFPL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Wssinfpl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSSINFPL" targetNamespace="http://tempuri.org/Wssinfpl/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Wssinfpl/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/Wssinfpl/">
<xs:element name="Wssinfplcall" type="tns:Wssinfplcall"/>
<xs:element name="WssinfplcallResponse" type="tns:WssinfplcallResponse"/>
<xs:complexType name="Wssinfplcall">
<xs:sequence>
<xs:element minOccurs="0" name="WssinfplImport" type="tns:WssinfplImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WssinfplImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImpCallMethodCommunications">
<xs:complexType>
<xs:sequence>
<xs:element name="CallFunction" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImpPscPsc">
<xs:complexType>
<xs:sequence>
<xs:element name="StatusChangeDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImpPolicyPolicies">
<xs:complexType>
<xs:sequence>
<xs:element name="PolId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImpValidationUsers">
<xs:complexType>
<xs:sequence>
<xs:element name="Password" type="xs:string"/>
<xs:element name="LoginId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="WssinfplcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="WssinfplExport" type="tns:WssinfplExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WssinfplExport">
<xs:sequence>
<xs:element minOccurs="0" name="ExpErrorMessageBrowserFields">
<xs:complexType>
<xs:sequence>
<xs:element name="ErrorMessage" type="xs:string"/>
<xs:element name="ErrorTxt" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ExpErrorCommunications">
<xs:complexType>
<xs:sequence>
<xs:element name="ErrorParameters" type="xs:string"/>
<xs:element name="ErrorNo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ExpPolicyIdPolicies">
<xs:complexType>
<xs:sequence>
<xs:element name="PolId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Wssinfplcall">
<wsdl:part element="tns:Wssinfplcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WssinfplcallResponse">
<wsdl:part element="tns:WssinfplcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="WSSINFPL">
<wsdl:operation name="Wssinfplcall">
<wsdl:input message="tns:Wssinfplcall" name="Wssinfplcall"> </wsdl:input>
<wsdl:output message="tns:WssinfplcallResponse" name="WssinfplcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WSSINFPLSoapBinding" type="tns:WSSINFPL">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Wssinfplcall">
<soap:operation soapAction="http://tempuri.org/Wssinfplcall/" style="document"/>
<wsdl:input name="Wssinfplcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="WssinfplcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WSSINFPL">
<wsdl:port binding="tns:WSSINFPLSoapBinding" name="WSSINFPLPort">
<soap:address location="http://swul-lismgr-13.rh.olympe.loc:8080/XWSINFPL/WSSINFPL/WSSINFPL"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>