liability-services/liability-services-core/src/main/resources/wsdl/WSSIMPORT.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Wssimport/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSSIMPORT" targetNamespace="http://tempuri.org/Wssimport/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Wssimport/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/Wssimport/">
  <xs:element name="Wssimportcall" type="tns:Wssimportcall"/>
  <xs:element name="WssimportcallResponse" type="tns:WssimportcallResponse"/>
  <xs:complexType name="Wssimportcall">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssimportImport" type="tns:WssimportImport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssimportImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportdetailsImportParameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FilePath" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="clientId" type="xs:string"/>
    <xs:attribute name="clientPassword" type="xs:string"/>
    <xs:attribute name="nextLocation" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="dialect" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="WssimportcallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssimportExport" type="tns:WssimportExport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssimportExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpServicecallWebservice">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Callcompleted" type="xs:short"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpErrorMessageBrowserFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorMessage" type="xs:string"/>
            <xs:element name="ErrorTxt" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EcomsCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorParameters" type="xs:string"/>
            <xs:element name="ErrorNo" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpGrpWinDsp">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ExpItmWinWindow">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Desc252" type="xs:string"/>
                        <xs:element name="Desc25" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ExpItmWsTimeWorkspace">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Time" type="xs:string"/>
                        <xs:element name="Date" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="exitStateType" type="xs:int" use="required"/>
    <xs:attribute name="exitStateMsg" type="xs:string"/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Wssimportcall">
    <wsdl:part element="tns:Wssimportcall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WssimportcallResponse">
    <wsdl:part element="tns:WssimportcallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSIMPORT">
    <wsdl:operation name="Wssimportcall">
      <wsdl:input message="tns:Wssimportcall" name="Wssimportcall">
    </wsdl:input>
      <wsdl:output message="tns:WssimportcallResponse" name="WssimportcallResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSIMPORTSoapBinding" type="tns:WSSIMPORT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Wssimportcall">
      <soap:operation soapAction="http://tempuri.org/Wssimportcall/" style="document"/>
      <wsdl:input name="Wssimportcall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WssimportcallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSIMPORT">
    <wsdl:port binding="tns:WSSIMPORTSoapBinding" name="WSSIMPORTPort">
      <soap:address location="http://sv-lvd46.rh.olympe.loc:8080/XWSIMP/WSSIMPORT/WSSIMPORT"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>