liability-services/liability-services-core/src/main/resources/wsdl/WSSNBSET.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Wssnbset/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSSNBSET" targetNamespace="http://tempuri.org/Wssnbset/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Wssnbset/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/Wssnbset/">
  <xs:element name="Wssnbsetcall" type="tns:Wssnbsetcall"/>
  <xs:element name="WssnbsetcallResponse" type="tns:WssnbsetcallResponse"/>
  <xs:complexType name="Wssnbsetcall">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssnbsetImport" type="tns:WssnbsetImport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssnbsetImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImpUseridUsers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UsrId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpControls">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmControlProductValues">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Control" type="xs:string"/>
                        <xs:element name="NumericValue" type="xs:string"/>
                        <xs:element name="ProductLine" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpCpr">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmCprCliPolRelationships">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="TypeNumber" type="xs:short"/>
                        <xs:element name="EndDate" type="xs:string"/>
                        <xs:element name="ActiveDate" type="xs:string"/>
                        <xs:element name="PercentageSplit" type="xs:string"/>
                        <xs:element name="Type" type="xs:short"/>
                        <xs:element name="Client" type="xs:int"/>
                        <xs:element name="ExEqualParts" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpPas">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmPrlProductLines">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="PrlId" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ImpItmPasPolicyAgentShares">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Agent" type="xs:string"/>
                        <xs:element name="Percentage" type="xs:string"/>
                        <xs:element name="PartnerAuthorized" type="xs:short"/>
                        <xs:element name="Type" type="xs:short"/>
                        <xs:element name="SpecificIce" type="xs:string"/>
                        <xs:element name="PrimaryAgent" type="xs:short"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpCallMethodCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CallFunction" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpPbc">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmPbcPolicyBeneficiaryClauses">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Policy" type="xs:string"/>
                        <xs:element name="Rank" type="xs:short"/>
                        <xs:element name="Type" type="xs:string"/>
                        <xs:element name="TypeOfClause" type="xs:string"/>
                        <xs:element name="Status" type="xs:short"/>
                        <xs:element name="TextOfClause" type="xs:string"/>
                        <xs:element name="Code" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpCvg">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmPclAssured2PolicyCvgLives">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Client" type="xs:long"/>
                        <xs:element name="AgeRating" type="xs:short"/>
                        <xs:element name="AddnFactor" type="xs:string"/>
                        <xs:element name="AddnRpm" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ImpItmPclAssured1PolicyCvgLives">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Client" type="xs:long"/>
                        <xs:element name="AgeRating" type="xs:short"/>
                        <xs:element name="AddnFactor" type="xs:string"/>
                        <xs:element name="AddnRpm" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ImpItmPcpPolicyPremiums">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ModalPremium" type="xs:string"/>
                        <xs:element name="Currency" type="xs:string"/>
                        <xs:element name="Frequency" type="xs:short"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ImpItmPocPolicyCoverages">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ProductLine" type="xs:string"/>
                        <xs:element name="Term" type="xs:string"/>
                        <xs:element name="Currency" type="xs:string"/>
                        <xs:element name="InitialSumAssured" type="xs:string"/>
                        <xs:element name="Coverage" type="xs:short"/>
                        <xs:element name="SoldBasis" type="xs:short"/>
                        <xs:element name="Multiplier" type="xs:string"/>
                        <xs:element name="LivesType" type="xs:short"/>
                        <xs:element name="DateOfApplication" type="xs:string"/>
                        <xs:element name="DateOfReqCommencement" type="xs:string"/>
                        <xs:element name="DateCommenced" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpPfd">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmPfdPolicyFundDirections">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Fund" type="xs:string"/>
                        <xs:element name="Percentage" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpPolicyPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PolId" type="xs:string"/>
            <xs:element name="Product" type="xs:string"/>
            <xs:element name="Currency" type="xs:string"/>
            <xs:element name="Category" type="xs:string"/>
            <xs:element name="OrderByFax" type="xs:short"/>
            <xs:element name="NonSurrenderClauseDate" type="xs:string"/>
            <xs:element name="ExpectedPremium" type="xs:string"/>
            <xs:element name="MailToAgent" type="xs:string"/>
            <xs:element name="ScoreNewBusiness" type="xs:int"/>
            <xs:element name="Scudo" type="xs:short"/>
            <xs:element name="MandatoAllIncasso" type="xs:short"/>
            <xs:element name="BrokerRefContract" type="xs:string"/>
            <xs:element name="NoCoolOff" type="xs:short"/>
            <xs:element name="AdditionalId" type="xs:string"/>
            <xs:element name="IssueCountryOfResidence" type="xs:string"/>
            <xs:element name="DateOfApplication" type="xs:string"/>
            <xs:element name="DateOfCommencement" type="xs:string"/>
            <xs:element name="ExPaymentTransfer" type="xs:short"/>
            <xs:element name="ExMandate" type="xs:short"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpPonGeneralNotes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Details" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpValidationUsers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="LoginId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="clientId" type="xs:string"/>
    <xs:attribute name="clientPassword" type="xs:string"/>
    <xs:attribute name="nextLocation" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="dialect" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="WssnbsetcallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssnbsetExport" type="tns:WssnbsetExport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssnbsetExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpErrormessageBrowserFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorMessage" type="xs:string"/>
            <xs:element name="ErrorTxt" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EcommsCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorParameters" type="xs:string"/>
            <xs:element name="ErrorNo" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpPolicyIdPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PolId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="exitStateType" type="xs:int" use="required"/>
    <xs:attribute name="exitStateMsg" type="xs:string"/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="WssnbsetcallResponse">
    <wsdl:part element="tns:WssnbsetcallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Wssnbsetcall">
    <wsdl:part element="tns:Wssnbsetcall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSNBSET">
    <wsdl:operation name="Wssnbsetcall">
      <wsdl:input message="tns:Wssnbsetcall" name="Wssnbsetcall">
    </wsdl:input>
      <wsdl:output message="tns:WssnbsetcallResponse" name="WssnbsetcallResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSNBSETSoapBinding" type="tns:WSSNBSET">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Wssnbsetcall">
      <soap:operation soapAction="http://tempuri.org/Wssnbsetcall/" style="document"/>
      <wsdl:input name="Wssnbsetcall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WssnbsetcallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSNBSET">
    <wsdl:port binding="tns:WSSNBSETSoapBinding" name="WSSNBSETPort">
      <soap:address location="http://sv-lvd46.rh.olympe.loc:8080/XWSNBSET/WSSNBSET/WSSNBSET"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>