liability-services/liability-services-core/src/main/resources/wsdl/WSSPSCUP.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Wsspscup/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSSPSCUP" targetNamespace="http://tempuri.org/Wsspscup/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Wsspscup/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/Wsspscup/">
  <xs:element name="Wsspscupcall" type="tns:Wsspscupcall"/>
  <xs:element name="WsspscupcallResponse" type="tns:WsspscupcallResponse"/>
  <xs:complexType name="Wsspscupcall">
    <xs:sequence>
      <xs:element minOccurs="0" name="WsspscupImport" type="tns:WsspscupImport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WsspscupImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImpPasPolicyAgentShares">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Agent" type="xs:string"/>
            <xs:element name="Percentage" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpControls">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmControlProductValues">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Control" type="xs:string"/>
                        <xs:element name="NumericValue" type="xs:string"/>
                        <xs:element name="ProductLine" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpPccPolicyCvgClaims">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Adjustment1" type="xs:string"/>
            <xs:element name="Adjustment2" type="xs:string"/>
            <xs:element name="AdjType1" type="xs:short"/>
            <xs:element name="AdjType2" type="xs:short"/>
            <xs:element name="Currency" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpGrpPoc">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ImpItmPocPolicyCoverages">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Coverage" type="xs:short"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpPolPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PolId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpPscPsc">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Details" type="xs:string"/>
            <xs:element name="StatusChangeDate" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpValidationUsers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="LoginId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpCallMethodCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CallFunction" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpUseridUsers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UsrId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="clientId" type="xs:string"/>
    <xs:attribute name="clientPassword" type="xs:string"/>
    <xs:attribute name="nextLocation" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="dialect" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="WsspscupcallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="WsspscupExport" type="tns:WsspscupExport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WsspscupExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpErrormessageBrowserFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorTxt" type="xs:string"/>
            <xs:element name="ErrorMessage" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EcommsCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorParameters" type="xs:string"/>
            <xs:element name="ErrorNo" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpPolPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PolId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="exitStateType" type="xs:int" use="required"/>
    <xs:attribute name="exitStateMsg" type="xs:string"/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Wsspscupcall">
    <wsdl:part element="tns:Wsspscupcall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsspscupcallResponse">
    <wsdl:part element="tns:WsspscupcallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSPSCUP">
    <wsdl:operation name="Wsspscupcall">
      <wsdl:input message="tns:Wsspscupcall" name="Wsspscupcall">
    </wsdl:input>
      <wsdl:output message="tns:WsspscupcallResponse" name="WsspscupcallResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSPSCUPSoapBinding" type="tns:WSSPSCUP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Wsspscupcall">
      <soap:operation soapAction="http://tempuri.org/Wsspscupcall/" style="document"/>
      <wsdl:input name="Wsspscupcall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WsspscupcallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSPSCUP">
    <wsdl:port binding="tns:WSSPSCUPSoapBinding" name="WSSPSCUPPort">
      <soap:address location="http://swul-lismgr-13.rh.olympe.loc:8080/XWSPSC/WSSPSCUP/WSSPSCUP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>