liability-services/liability-services-core/src/main/resources/wsdl/WSSQTDSET.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Wssqtdset/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSSQTDSET" targetNamespace="http://tempuri.org/Wssqtdset/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Wssqtdset/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/Wssqtdset/">
  <xs:element name="Wssqtdsetcall" type="tns:Wssqtdsetcall"/>
  <xs:element name="WssqtdsetcallResponse" type="tns:WssqtdsetcallResponse"/>
  <xs:complexType name="Wssqtdsetcall">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssqtdsetImport" type="tns:WssqtdsetImport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssqtdsetImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="IcommsCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordsUpdated" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpFtdFundTransactionDates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnitTypes" type="xs:short"/>
            <xs:element name="Fund" type="xs:string"/>
            <xs:element name="CreatedBy" type="xs:string"/>
            <xs:element name="Status" type="xs:short"/>
            <xs:element name="FtdId" type="xs:string"/>
            <xs:element name="TransactionsWaiting" type="xs:int"/>
            <xs:element name="Date" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpBatchRestartBatchRestart">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReCallNo" type="xs:long"/>
            <xs:element name="LastFtrNo" type="xs:long"/>
            <xs:element name="LastFtd" type="xs:string"/>
            <xs:element name="LastFds" type="xs:string"/>
            <xs:element name="LastPriority" type="xs:int"/>
            <xs:element name="StartTime" type="xs:string"/>
            <xs:element name="LastTrn" type="xs:long"/>
            <xs:element name="OutstandingWork" type="xs:short"/>
            <xs:element name="LastPhase" type="xs:long"/>
            <xs:element name="LastPhaseLimit" type="xs:long"/>
            <xs:element name="LastFtdId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpQtaQueuedTasks">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="QtaId" type="xs:long"/>
            <xs:element name="Job" type="xs:short"/>
            <xs:element name="Suppl1Text" type="xs:string"/>
            <xs:element name="Suppl1Date" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ImpValidationUsers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="LoginId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="clientId" type="xs:string"/>
    <xs:attribute name="clientPassword" type="xs:string"/>
    <xs:attribute name="nextLocation" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="dialect" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="WssqtdsetcallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="WssqtdsetExport" type="tns:WssqtdsetExport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WssqtdsetExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="EcommsCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordsUpdated" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpBatchRestartBatchRestart">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReCallNo" type="xs:long"/>
            <xs:element name="LastFtrNo" type="xs:long"/>
            <xs:element name="LastFtd" type="xs:string"/>
            <xs:element name="LastFds" type="xs:string"/>
            <xs:element name="LastPriority" type="xs:int"/>
            <xs:element name="StartTime" type="xs:string"/>
            <xs:element name="LastTrn" type="xs:long"/>
            <xs:element name="OutstandingWork" type="xs:short"/>
            <xs:element name="LastPhase" type="xs:long"/>
            <xs:element name="LastPhaseLimit" type="xs:long"/>
            <xs:element name="LastFtdId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpQtaQueuedTasks">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="QtaId" type="xs:long"/>
            <xs:element name="Job" type="xs:short"/>
            <xs:element name="Suppl1No" type="xs:long"/>
            <xs:element name="Suppl1Text" type="xs:string"/>
            <xs:element name="Suppl1Date" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpErrorCommunications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorNo" type="xs:string"/>
            <xs:element name="ErrorParameters" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExpErrorMessageBrowserFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorMessage" type="xs:string"/>
            <xs:element name="ErrorTxt" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="command" type="xs:string"/>
    <xs:attribute name="exitState" type="xs:int" use="required"/>
    <xs:attribute name="exitStateType" type="xs:int" use="required"/>
    <xs:attribute name="exitStateMsg" type="xs:string"/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Wssqtdsetcall">
    <wsdl:part element="tns:Wssqtdsetcall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WssqtdsetcallResponse">
    <wsdl:part element="tns:WssqtdsetcallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSQTDSET">
    <wsdl:operation name="Wssqtdsetcall">
      <wsdl:input message="tns:Wssqtdsetcall" name="Wssqtdsetcall">
    </wsdl:input>
      <wsdl:output message="tns:WssqtdsetcallResponse" name="WssqtdsetcallResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSQTDSETSoapBinding" type="tns:WSSQTDSET">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Wssqtdsetcall">
      <soap:operation soapAction="http://tempuri.org/Wssqtdsetcall/" style="document"/>
      <wsdl:input name="Wssqtdsetcall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WssqtdsetcallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSQTDSET">
    <wsdl:port binding="tns:WSSQTDSETSoapBinding" name="WSSQTDSETPort">
      <soap:address location="http://sv-lvd46.rh.olympe.loc:8080/XWSQTDS/WSSQTDSET/WSSQTDSET"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>